/*Material Design Button*/
.material-btn {
    position: relative;
    display: block;
    overflow: hidden;
    border-width: 0;
    outline: none;
    padding: 12px 24px;
    transition: background-color .3s;


    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        padding-top: 0;
        border-radius: 100%;
        background-color: rgba(236, 240, 241, .3);
        transform: translate(-50%, -50%);
    }

    &:active:before {
        width: 120%;
        padding-top: 120%;
        transition: width .2s ease-out, padding-top .2s ease-out;
    }
}

/*메뉴와 메인 모두를 감싼 컨테이너*/
.container {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100dvh;
    overflow: hidden;
}

/*메뉴를 제외한 메인*/
.main-container {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    overflow-y: scroll;
}

/*유틸리티 css*/
.banner-title {
    font-size: 27px;
    font-weight: bold;
}
.loading-gif{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*InputField.tsx*/
.login-focus {
    &:focus {
        background-color: #eaf0ff;
    }
}

.register-focus {
    &:focus {
        background-color: #fff1ea;
    }
}

/*로그인 시 메뉴에 있는 이름표*/
.name-tag {
    color: white;
    background: linear-gradient(90deg, #0094fe, #0033ff);
    padding: 0.6rem;
    font-size: 10.5px;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    box-shadow: 3px 3px 6px 0 #7b7b7b;
}

/*로그인,회원가입 성공 시 등장하는 팝업*/
.sign-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .sign-popup {
        background-color: white;
        padding: 2rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        gap: 4rem;

        button {
            border: none;
            padding: 1rem 2.5rem;
            border-radius: 30px;
            background: linear-gradient(90deg, #ffa85b, #ff0000);
            color: white;
            font-size: 14px;
        }
    }
}

/*글 작성하기 페이지로 이동하는 버튼*/
.go-write-btn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background: white;
    padding: 1.2rem;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 0 #676767;

    svg {
        stroke: #ff6d1f;
    }

    &:hover {
        svg {
            stroke: red;
        }
    }
}

/*이미지 첨부 프리뷰 섹션*/
.image-preview-basic {
    border: 4px dashed #bebebe;

    svg {
        width: 2rem;
        height: 2rem;
        stroke: #bebebe;
        transition: 0.2s;
    }

    &:hover {
        border-color: #fc9d4a;

        svg {
            stroke: #fc9d4a;
        }
    }
}
/*이미지 프리뷰 에러*/
.image-preview-error {
    border: 6px dashed #fc5b5b;

    svg {
        width: 2rem;
        height: 2rem;
        stroke: #fc5b5b;
        transition: 0.2s;
    }

    &:hover {
        border-color: #fc9d4a;

        svg {
            stroke: #fc9d4a;
        }
    }
}